

// .c{
//   width:100px;
//   height:100px;
//   background-color:aquamarine
// }


$orange: #E9672D;
$beige: #F1DFC5;

.bg{
  position:fixed;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  // min-width:1020px;
  z-index:-15;
  animation: fadein 4s;

 }
//  .background{
//   width:100vw;
//   height:100vh;
//   animation: fadein 4s;
//   position:fixed;
// top:0;
// left:0;
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   z-index:-15;
//   // filter:sepia(100%) saturate(500%) hue-rotate(180deg);


// }








@keyframes aboutMoveToRight{
  0%{
   opacity:0;
   transform:translateX(-120%)
  }50%{
   opacity:0.5;
  }
  100%{
   opacity:1;
   transform:translateX(0%)

  }
}


@keyframes aboutMoveToLeft{
  0%{
   opacity:0;
  //  transform: translateY(-81%);
  //  transform:translateX(120%)
   transform:translate(100px, -20px);
  }50%{
   opacity:0.5;
  }
  100%{
   opacity:1;
  //  transform:translateX(0%)
  //  transform:translate(10px -20px);
  transform:translate(0px, 0px);

  }
}

.aboutMeContainer{
  display:flex;
  justify-content:center;
  // align-items:center;
  width:90%;
  // height:90vh;
  margin:10% auto 8%;




}

.aboutMeContent{
  // width:80%;
  background-color:rgba(245, 245, 245,0.8);
  // height:70vh;
  flex-direction:column;
  border-radius:10px;
  align-self: end;
  animation: aboutMoveToRight 3s;
  padding:2em 1em;
     p{
      font-size:clamp(16px, 1.2vw ,20px);
     }

}

.aboutMeImg{
  // height:50vh;
  animation: aboutMoveToLeft 3s;
  transform:  translate(10px, -20px);


  img{
    width: 80%;
    height: 100%;
    object-fit: cover;
    border-radius:10px;

  }
}


.buttons{
  width:100%;
  display:flex;
  justify-content:center;
}



@keyframes fadein {
    0%{opacity:0}
    100%{opacity:1}
}


.educationContainer{
  height:100vh;
  width:80vw;
  margin:0 auto;
  flex-direction:column;

   .educationSubContainer{
       h3,h4{
        // text-align:center;
       }
       .educationDate{
        display:flex;
        // justify-content:center;
       }
   }


}

.educationSubContainer{
  background-color:rgba(255, 255, 255,1.0);
  margin-bottom:5%;
  border-radius:10px;
}


.skillsTitle{
  text-align:center;
  width:100vw;
  margin-bottom:5%;
}


.skillsContainer{
  // height:20vh;
  // background-color:white;
  width: 95vw;
    margin: 0 auto;
    justify-content:center;



h2{
  text-align:center;
}


}

.toolBox{

   display:flex;
   flex-direction:column;
   background-color:white;
   margin:1% 1%;
   height:30vh;
   justify-content:start;
   align-items:center;
   padding:3%;
   border-radius:10px;
  //  background-color:aquamarine;

  div{
    // background-color:white;
    height:10vh;
  }



  .toolicon{
    display:flex;
    align-items:center;
    justify-content:center;

  img{
    width:60px;
    height:60px;
    object-fit:contain;
    margin:2%;
  }
}
}



.fa-solid{
  width:100px;
  height:100px;
  color:black;
}

.resumeBtn{
  min-height:45px;
  min-width:175px;
  background-color:$orange;
  // width:65%;
  color:$beige;
  border:none;
  font-weight:bold;
  border-radius:30px;
  // padding:1em 2em;
  // margin-top:5%;
  animation:float 5s infinite;
  svg{
    width:30px;
   fill:#F1DFC5

  }
}

.listTitle{
  text-align:center;
  margin-top:10%;
}


.lists{
  justify-content:center;
  align-items:start;
  margin-top:5%;
  margin-bottom:20%;

}

#orangeflower{


  width:100px;
  animation: swing ease-in-out 4s infinite alternate;
  transform-origin: bottom center;
  transform-box:fill-box;

 float:left;
 z-index:10;
}

@keyframes swing {
  0% { transform: rotate(5deg);
      //  transform-origin:5% -10%;
                               }
  100% { transform: rotate(-5deg);
    // transform-origin:5% -10%;

  }
}

#sun{

  transform-origin: bottom center;
  transform-box:fill-box;

}



@keyframes float{
  0%{
    transform:translateY(0)
  }50%{
    transform:translateY(10px)
  }100%{
    transform:translateY(0)
  }
}

.resumeBtn:hover{
  border:none;
  background-color:$beige;
  color:$orange;

  svg{
    fill:$orange;
  }
}

.resumeBtn:active{
   transform:translateY(4px);
  //  background-color:#d0c8bc;
   border:none;
}


// @media(max-width:768px){
//   .aboutMeContainer{
//     margin-top:20% 0;
//   }
// }


// @media(max-width:768px) {
//   .aboutMeContainer{
//     margin:30% auto;
//   }

//   .aboutMeImg{
//     // height:50vh;
//     // animation: aboutMoveToLeft 3s;
//     transform: translate(-10%, -20%);
//     margin-left:10%;
//   }
// }

.empty{
  width:100vw;
  height:50vh;
}


// tooltips


/*== start of code for tooltips ==*/
.tool {
  cursor: help;
  position: relative;
  text-align: center;
}


/*== common styles for both parts of tool tip ==*/
.tool::before,
.tool::after {
  left: 50%;
  opacity: 0;
  position: absolute;
  z-index: -100;
}

.tool:hover::before,
.tool:focus::before,
.tool:hover::after,
.tool:focus::after {
  opacity: 1;
  transform: scale(1) translateY(0);
  z-index: 100;
}


/*== pointer tip ==*/
.tool::before {
  border-style: solid;
  border-width: 1em 0.75em 0 0.75em;
  border-color: #3E474F transparent transparent transparent;
  bottom: 100%;
  content: "";
  margin-left: -0.5em;
  transition: all .65s cubic-bezier(.84,-0.18,.31,1.26), opacity .65s .5s;
  transform:  scale(.6) translateY(-90%);
}

.tool:hover::before,
.tool:focus::before {
  transition: all .65s cubic-bezier(.84,-0.18,.31,1.26) .2s;
}


/*== speech bubble ==*/
.tool::after {
  background: #3E474F;
  border-radius: .25em;
  bottom: 180%;
  color: #EDEFF0;
  content: attr(data-tip);
  margin-left: -8.75em;
  padding: 1em;
  transition: all .65s cubic-bezier(.84,-0.18,.31,1.26) .2s;
  transform:  scale(.6) translateY(50%);
  width: 17.5em;
}

.tool:hover::after,
.tool:focus::after  {
  transition: all .65s cubic-bezier(.84,-0.18,.31,1.26);
}


@media(min-width:769px) and (max-width:992px) {


  .aboutMeImg{
    // height:50vh;
    // animation: aboutMoveToLeft 3s;
    transform: translate(10px, -10px);
    // margin-left:10%;

    img{
      width:80%;
    }
  }
}


@media(min-width:996px){

  @keyframes aboutMoveToLeft{
    0%{
     opacity:0;
    //  transform: translateY(-81%);
    //  transform:translateX(120%)
     transform:translate(100px, -20px);
    }50%{
     opacity:0.5;
    }
    100%{
     opacity:1;
    //  transform:translateX(0%)
    //  transform:translate(10px -20px);
    transform:translate(-15px, -23px);

    }
  }

  .aboutMeImg{
    // height:50vh;
    // animation: aboutMoveToLeft 3s;
    transform: translate(-15px, -23px);
    // margin-left:10%;
  // .aboutMeContainer{
  //   width:100%;
  //   justify-content:center;
  // }
   img{
    width:100%;
  }
}

}


@media(min-width:997px){

  .aboutMeContent{

    padding:2em 3em;
    max-width:650px;


  }



}
