body{
  overflow:hidden;
  box-sizing: border-box;
}

svg{
  position:fixed;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  // min-width:1020px;
  z-index:-1;
  animation:fadein 2s;

 }

 @keyframes fadein {
  0%{opacity:0}
  100%{opacity:1}
}


// .mainContainer{
//   width:100vw;
//   height:100vh;
//   // background-color:blue;
//   overflow:hidden;
//   display: flex;
//   align-items:center;
//   justify-content: center;
// }



.navBar{
   z-index:10;
}


li{

  list-style:none;
  display:inline;
.logoimage{
  width:40px;
  height:40px;
  object-fit:contain;
}

}


ul{
  padding-left:0 !important;
}

#scroll-container{
  width: 100%;
  height: calc(100vh - 116px);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
    overflow-x: hidden;
}

.project{
  // padding-top:12%;
  width:auto;
  height:80vw;
  // margin:0 auto 5% auto;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background-color:white;
  border-radius:10px;
  padding-top:8%;
  transform: rotate(90deg);
  //  margin-bottom:13%;
  // margin-left:3%;
  // padding:5%;

  // margin-top:30%;
  // margin-right:10%;
  // position: absolute;
  // top: 10%;
  // left: -7%;
margin:10%;


}




.projectContainer{
  // padding-top:12%;
  overflow-y: auto;
  overflow-x: hidden;
  transform: rotate(-90deg);
  // position: relative;
// transform-origin: right top;
// position:absolute;
// display: block;
// top: 0;
// left: 0;
width:90vh;
height:100vw;
margin:0;
display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
// padding-bottom: 10vh;
// background-color:yellow;

}





.projectImage{
  padding:2% 0;

  a{
    display:flex;
    justify-content: center;

  img{
    width:70%;

  }
}
}

.projectImage:hover{
  transform:scale(1.1);
  transition-duration: 1s;
}




.box{
//   width:100vw;
//   height:100vh;

// position:absolute;
// top:0;
// left:0;
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   z-index:-1;
  // top:0;
  // left:0;
  // position:fixed;
}

.summary{
  width:80%;
  margin:2% auto;
  text-align:center;
  padding-bottom:5%;
  height:100px
}



.logoimage{
  padding:2%;
}


// .mainContainer{
//   height:100vh;
//   display:flex;
//   justify-content:center;
//   position:relative;
// }


// tooltips


/*== start of code for tooltips ==*/
.tool {
  cursor: help;
  position: relative;
  text-align: center;
}


/*== common styles for both parts of tool tip ==*/
.tool::before,
.tool::after {
  left: 50%;
  opacity: 0;
  position: absolute;
  z-index: -100;
}

.tool:hover::before,
.tool:focus::before,
.tool:hover::after,
.tool:focus::after {
  opacity: 1;
  transform: scale(1) translateY(0);
  z-index: 100;
}


/*== pointer tip ==*/
.tool::before {
  border-style: solid;
  border-width: 1em 0.75em 0 0.75em;
  border-color: #3E474F transparent transparent transparent;
  bottom: 100%;
  content: "";
  margin-left: -0.5em;
  transition: all .65s cubic-bezier(.84,-0.18,.31,1.26), opacity .65s .5s;
  transform:  scale(.6) translateY(-90%);
}

.tool:hover::before,
.tool:focus::before {
  transition: all .65s cubic-bezier(.84,-0.18,.31,1.26) .2s;
}


/*== speech bubble ==*/
.tool::after {
  background: #3E474F;
  border-radius: .25em;
  bottom: 180%;
  color: #EDEFF0;
  content: attr(data-tip);
  margin-left: -8.75em;
  padding: 1em;
  transition: all .65s cubic-bezier(.84,-0.18,.31,1.26) .2s;
  transform:  scale(.6) translateY(50%);
  width: 17.5em;
}

.tool:hover::after,
.tool:focus::after  {
  transition: all .65s cubic-bezier(.84,-0.18,.31,1.26);
}

@media (max-width: 760px) {
.tool::after {
      font-size: .75em;
      margin-left: -5em;
      width: 10em;
}
}






@media(max-width:768px){


   .projectContainer{
    // transform: rotate(0deg);
    width:100vw;
    margin:25% 0 ;
   }


  .project{
    // transform: rotate(0deg);
    // width:80%;
    // height:50vh;
    // margin:3% auto;

    h2{
      text-align:center;
    }
  }

  .skillsContainer{
    margin-bottom:10%;
  }

}
