body{
  overflow:hidden;
}


.test{
  width:100vw;
  height:100vh;
  // background-color:blue;
  overflow:hidden;
  display: flex;
  align-items:center;
  justify-content: center;
}



.navBar{
   z-index:10;
}


li{

  list-style:none;
  display:inline;
.logoimage{
  width:40px;
  height:40px;
  object-fit:contain;
}

}

.navBar{
  position:fixed;
  top:0;
  width:100vw;


}

ul{
  padding-left:0 !important;
}

.project{
  // padding-top:12%;
  width:80%;
  // margin:0 auto 5% auto;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background-color:white;
  border-radius:10px;
  // padding-top:8%;
  transform: rotate(90deg);
  //  margin-bottom:13%;
  // margin-left:3%;
  padding:5%;
  height:80vh;
  margin-top:30%;
  margin-right:10%;
  // position: absolute;
  // top: 10%;
  // left: -7%;



}




.projectContainer{
  // padding-top:12%;
  overflow-y: auto;
  // overflow-x: hidden;
  transform: rotate(-90deg);
  // position: relative;
// transform-origin: right top;
// position:absolute;
// display: block;
// top: 0;
// left: 0;
width:100vh;
height:100vw;
display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
padding-bottom: 10vh;
// background-color:yellow;

}





.projectImage{
  padding:2% 0;

  a{
    display:flex;
    justify-content: center;

  img{
    width:70%;

  }
}
}

.projectImage:hover{
  transform:scale(1.1);
  transition-duration: 1s;
}




.box{
  width:100vw;
  height:100vh;
  // background-attachment: fixed;
position:absolute;
top:0;
left:0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index:-1;
  // top:0;
  // left:0;
  // position:fixed;
}

.summary{
  width:80%;
  margin:2% auto;
  text-align:center;
  padding-bottom:5%;
}



.logoimage{
  padding:2%;
}


.mainContainer{
  height:100vh;
  display:flex;
  justify-content:center;
  position:relative;
}



