<!-- <div class="background" style="background-image:url({{websiteHeroImage}})"></div> -->


<div class="background" style="background-image:url(../../assets/wallpaper/portfoliowallpaperNight.svg)"></div>
<app-navbar class="navBar"></app-navbar>



<div class="contactContainer row">


  <div class="contactContent col-sm-12 col-md-6 d-frex flex-column">

    <h2 class="containerTitle">Get in touch! </h2>

    <div class="contactVia">
      You can also reach me via <br>


        <div class="d-flex justify-content-center">
          <div class="box">
            <div class="email d-flex flex-column jusity-content-center align-items-center">
            <li class=""><a href="#">Email</a>
            </li>
            <div class="line">
            </div>
          </div>
          </div>
          <div> | </div>

                <div class="box">
          <div class="instagram d-flex flex-column jusity-content-center align-items-center">
            <li class=""><a href="#">Instagram</a>
            </li>
            <div class="line">
            </div>
          </div>
                </div>

                <div> | </div>

                <div class="box">
          <div class="instagram d-flex flex-column jusity-content-center align-items-center">
            <li class=""><a href="#">LinkedIn</a>
            </li>
            <div class="line">
            </div>
          </div>
          </div>
        </div>
  </div>

</div>



  <form #form="ngForm" class="formClass col-sm-12 col-md-5">
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input [(ngModel)]="name" type="text" class="form-control" id="name" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input [(ngModel)]="email"  type="email" class="form-control" id="email" aria-describedby="emailHelp">

    </div>
    <div class="form-group">
      <label for="message">Comments</label>
      <textarea [(ngModel)]="message"  class="form-control" id="message" rows="3"></textarea>
    </div>
    <div class="mt-3">
      <re-captcha (resolved)="resolved($event)" siteKey="6LcbP-cgAAAAAK6KiBfA0OFIhmV5XIj7aMnth4MH" class="mt-3"></re-captcha>
    </div>
    <button (click)="submitLead()" [disabled]="formInvalid" type="submit" class="btn btn-primary mt-3">Send</button>

    <div class="mt-3" [hidden]="formMessageHidden">
      Thank you for contacting me, {{name}}. I will get in touch with you soon!
    </div>


  </form>



</div>


