
.background{

  // filter: grayscale(100%);
  // filter:brightness(1.25) saturate(60%) contrast(71%) hue-rotate(38deg);
  // filter:sepia(100%) saturate(500%) hue-rotate(180deg);
}





.formClass{
  max-width:500px;
  padding:50px;
}

.background{
  width:100vw;
  height:100vh;
  animation: fadein 4s;
  position:fixed;
top:0;
left:0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index:-1;


}

@keyframes fadein {
  0%{opacity:0}
  100%{opacity:1}
}

.containerTitle{
  // width:100vw;
  text-align:center;
  margin-top:5%;
}

.contactVia{
   text-align:center;
}

.contactVia{


    li{

      list-style:none;

        a{
          text-decoration:none;
          font-weight:bold;
      color:black;
        }

    }
}

.contactContainer{
  width:95vw;
  margin:5vh auto 0;
  display:flex;
  justify-content:center;
  align-items:center;
  background-color:rgba(255, 255, 255,0.8);
  border-radius:10px;
}

.contactContent{
 padding:5%;
//  background-color:white;
 border-radius:10px;
 margin-left:2%;
//  background-color:rgba(255, 255, 255,0.8);
}

.line{
  width:100px;
  height:2px;
  background-color:transparent;
  // animation:animate 5s linear infinite;


}

.email:hover .line{
  animation:animate 1s linear;
  background-color:black;
}

.instagram:hover .line{
  animation:animate 1s linear;
  background-color:black;
}

.linkedin:hover .line{
  animation:animate 1s linear;
  background-color:black;
}


.line::before{
  content:"";

}


@keyframes animate{

    0% {
      clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    }50%{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }100%{
      clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    }
}






@media(min-width:768px){
    .contactContent{
      background-color:rgba(255, 255, 255,0.8);
    }
}
