
.background{

  // filter: grayscale(100%);
  // filter:brightness(1.25) saturate(60%) contrast(71%) hue-rotate(38deg);
  // filter:sepia(100%) saturate(500%) hue-rotate(180deg);
}





.formClass{
  max-width:500px;
  padding:50px;
}

.background{
  width:100vw;
  height:100vh;
  animation: fadein 4s;
  position:fixed;
top:0;
left:0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index:-1;


}

@keyframes fadein {
  0%{opacity:0}
  100%{opacity:1}
}

.containerTitle{
  width:100vw;
  text-align:center;
}

.contactContainer{
  width:80vw;
  margin:10vh auto 0;
  display:flex;
  justify-content:center;
  align-items:center;
}

.contactContent{
 padding:5%;
}
