
<div class="box"></div>

<div class="box"></div>


<div class="box"></div>

<div class="aboutMeContainer row">
  <div class="aboutMeContent centercenter col-8">
    <h2>About me</h2>
    <!-- <a class="page-scroll link-underline-menu" (click)="scroll($event, about)" href="#about">About</a> -->
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, rerum quibusdam! Rem temporibus consequatur, doloribus, dolorum eos reprehenderit sunt ipsam maiores officiis voluptatem veritatis recusandae eum error minima perferendis deserunt, hic architecto! Perferendis debitis vel possimus quod id, repudiandae fugit quibusdam corporis! Voluptatum dolore neque rerum necessitatibus magni. Quidem, illum.</p>

  </div>
  <div class="aboutMeImg col-4">
    <img src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cHJvZmlsZXxlbnwwfHwwfHw%3D&w=1000&q=80" width="100">
   </div>

   <button class=" resumeBtn btn btn-primary">My resume
    <img src="../../assets/logos/download.png">
    </button>
</div>
