.banner{
  width:100%;
  height:100vh;
  background-size:cover;
  display:flex;
  justify-content:center;
  align-items:center;

  h1{

       padding:35px;
       background-color:white;
       border-radius:10px;
  }

}
