<div  [class.scaleup]="scale"  class="banner" style="background-image:url({{websiteHeroImage}})">


   <div class="titleContainer">
     <h1>Hi, I'm {{name}}</h1>
     <h2>Full-stack developer</h2>
     <!-- <div *ngFor="let school of educationArray"> -->
      <!-- <h1>School is {{school.attributes.School}}</h1> -->
     <!-- </div> -->

     <button (click)="scaleup()">Explore</button>

     <social class="social"></social>



   </div>

</div>



   <!-- <myskills></myskills> -->

   <!-- <button type="button" id="btnTooltip" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top">
    Tooltip on top
  </button> -->
<!-- </div> -->




<!-- <div *ngFor="let project of project.data">
  {{project.attributes.Title}}
</div> -->


